<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="filepath" value ="C:\Data\TournamentTracker"/>
	</appSettings>
	<connectionStrings>	
		<add name ="Tournaments" connectionString ="Server = MSI;Database=Tournaments;Trusted_Connection=True"/>
	</connectionStrings>
</configuration>